.row-header{
    margin: 0px auto;
    padding: 0px;
}
.row-content{
    margin: 0px auto;
    padding: 50px 0px;
    min-height: 400px;
}
.row-content:not(.row-content:last-of-type){
    border-bottom: 1px ridge;
}
.footer{
    background-color: #f9eadf;
    margin: 0px auto;
    padding: 20px 0px;
}
.jumbotron {
    padding: 70px 30px;
    margin: 0px auto;
    background: #a8e7ad;
}
.address{
    font-size: 80%;
    margin: 0;
    color: #0f0f0f;
}

.mainRow{
    padding: 50px 0px 50px 0px;
    margin: 0px auto;
}
.mainContainer{
    padding-bottom: 70px;
}
.cardBlock{
    padding-bottom: 20px;
}
nav{
    background-color: #68b44b!important;
}
html{
    scroll-behavior: smooth;
}
.formWrapper{
    padding: 0px 0px 5px 0px !important;
    border: 1px rgba(208, 200, 200, 0.48) solid;
    border-radius: 10px;
}
.formWrapper > div:first-of-type{
    border-radius: 10px 10px 0px 0px;
    color: #fdfffd;
    background-color: #fdc431;
    padding: 10px 0px 10px 25px;
}
.formWrapper > div:first-of-type>h3{
    font-weight: 700;
}
.buttonWrapper{
    padding-top: 15px;
}
.buttonHeader{
    display: block;
    padding: 10px 25px 10px 25px;
    width: 100%;
    height: 100%;
    color: #fdfffd;
    font-weight: 600;
    font-size: 20px;
    background-color: #fdc431;
    border-radius: 10px;
    border: 0px;
}
.reserveButton > button{
    padding: 5px 15px;
    border: 0;
    color: #fdfffd;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 20px;
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}
.carousel {
    background:#512DA8;
}

.carousel-item {
    height: 300px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
